<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>success</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/1be8dd0987.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container text-center mt-5">
      <i
        class="fas fa-check-circle"
        style="font-size: 15rem; color: #95ca3e"
      ></i>
      <h1 class="h3">Pedido realizado con éxito</h1>
      <p>
        Tu pedido ha sido realizado éxitosamente te iremos informando sobre su
        progreso.
      </p>
      <a class="btn btn-primary" href="https://wilbby.com/profile" role="button"
        >Ir a mi pedidos</a
      >
    </div>
  </body>
</html>
